
{% extends "master.html" %}
{% block content %}
    <main>
        <div class="home-container">
                <h2 style="text-align: center; margin-bottom: 2%;">Student Attendance System</h2>
            <div class="SC_Top">
                <a href="" style="padding-left:2rem;"><h2>Home</h2></a>
            </div>

            <ul class="cluster">
                <a href="/Attendance"><li><img src="static/images/Folder.png">Attendance</li></a>
                <a href="/Courses"><li><img src="static/images/Folder.png">Courses</li></a> 
                <a href="/Schedule"><li><img src="static/images/Folder.png">Schedules</li></a>
                <a href="/Subject"><li><img src="static/images/Folder.png">Subjects</li></a>
                <a href="/Students"><li><img src="static/images/Folder.png">Students</li></a>
                <a href="/Teachers"><li><img src="static/images/Folder.png">Teachers</li></a>
                <a href="/YearLevel"><li><img src="static/images/Folder.png">Year Levels</li></a>
            </ul>
            
        </div>
    </main>
{% endblock %}
