{% extends "master.html" %}
{% block content %}

    <main id="teachers-table">
        <div id="overlay"></div>
        <div class="home-container">
            <h2>Student Attendance System</h2>
            <div class="HC-Container">
                <div class="SC_Top">
                    <div class="NavBar">
                        <div><a href="/"><h2>Home &nbsp;</h2></a></div>
                        <span>/</span>
                        <div><a href="/Teachers"><h2>&nbsp; Teachers</h2></a></div>
                    </div>
                    <a hx-get="/addTeachers" hx-target="#overlay" ><button class="Add-btn" type="button">Add Teacher</button></a>
                </div>

                <table>
                    <thead>
                        <tr>
                        <th></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        {% comment %}
                        <th>Options</th>
                        {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for teachers in teacher_list %}
                            <td class="td-edit">{{ forloop.counter }}</td>
                            <td class="td-edit">{{ teachers.firstname }}</td>
                            <td class="td-edit">{{ teachers.lastname }}</td>
                            {% comment %}
                            <td>
                                <a href="edit/{{x.id}}"><button id="Edit-btn"><img src="static/images/edit.png" alt="">Edit</button></a>
                                <a href="#" onclick="confirmDelete('{{x.id}}')"><button id="Delete-btn"><img src="static/images/del.png">Delete</button></a>
                            </td>
                            {% endcomment %}
                            </tr>
                            {%endfor %}
                    </tbody>
                </table>
            </div>
            <div class="Item-Counter">
                <span>{{ count_teachers }} items</span>
            </div>
        </div>
    </main>

    <script>
        var Btn = document.querySelector('.Add-btn');
        Btn.addEventListener("click", function() {
            var overlay = document.getElementById("overlay");
            overlay.style.display = "flex";
        });
    </script>
{% endblock %}